openapi: 3.0.1
info:
  title: Bytescale Files Folders API
  description: REST API for the Bytescale (formerly Upload.io) file upload, storage, media processing, and CDN platform. Upload files via raw binary, multipart form data, or from a URL; manage files and folders; and serve optimized media through the upcdn.io edge network. All Upload and File API endpoints are rooted at https://api.bytescale.com/v2/accounts/{accountId} and authenticate with a Bearer API key.
  termsOfService: https://www.bytescale.com/legal/terms
  contact:
    name: Bytescale Support
    url: https://www.bytescale.com/docs
  version: '2.0'
servers:
- url: https://api.bytescale.com
  description: Bytescale REST API (Upload and File APIs)
security:
- bearerAuth: []
tags:
- name: Folders
paths:
  /v2/accounts/{accountId}/folders/list:
    get:
      operationId: listFolder
      tags:
      - Folders
      summary: List the files and folders within a folder.
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: folderPath
        in: query
        required: true
        schema:
          type: string
        description: Absolute folder path beginning with "/".
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: recursive
        in: query
        required: false
        schema:
          type: boolean
      - name: includeFiles
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Folder listing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFolderResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/accounts/{accountId}/folders:
    put:
      operationId: putFolder
      tags:
      - Folders
      summary: Create or update a folder (ancestors created automatically).
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutFolderRequest'
      responses:
        '200':
          description: Folder created or updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteFolder
      tags:
      - Folders
      summary: Delete a folder.
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: folderPath
        in: query
        required: true
        schema:
          type: string
        description: Absolute folder path beginning with "/".
      responses:
        '200':
          description: Folder deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    FolderDetails:
      type: object
      properties:
        folderPath:
          type: string
        settings:
          type: object
          additionalProperties: true
        settingsInherited:
          type: object
          additionalProperties: true
        type:
          type: string
          example: Folder
        virtual:
          type: boolean
    PutFolderRequest:
      type: object
      properties:
        folderPath:
          type: string
          description: The path of the folder to create or update.
      required:
      - folderPath
    ListFolderResult:
      type: object
      properties:
        cursor:
          type: string
        isPaginationComplete:
          type: boolean
        folder:
          type: object
          additionalProperties: true
        items:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - File
                - Folder
              filePath:
                type: string
              fileUrl:
                type: string
                format: uri
              size:
                type: integer
                format: int64
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            timestamp:
              type: string
              format: date-time
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    AccountId:
      name: accountId
      in: path
      required: true
      schema:
        type: string
        minLength: 7
        maxLength: 7
      description: Your 7-character Bytescale account ID (from dashboard settings).
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bytescale API key passed as a Bearer token. Secret keys (secret_*) are required for write and management operations; public keys (public_*) may be used with JWT-based auth.
